name: Unity Builder
on: [workflow_dispatch]

jobs:
  buildProject:
    name: Build for Windows
    runs-on: ubuntu-latest
    strategy:
      matrix:
        targetPlatform:
          - StandaloneWindows
  
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          ref: master
      - name: Build Project
        id: buildunity
        uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
          projectPath: ${env:GITHUB_WORKSPACE}
          buildName: mygame-${{ matrix.targetPlatform }}-0.1.0
          buildsPath: ${env:GITHUB_WORKSPACE}\Builds
          versioning: Custom
          version: 0.1.0
      # - name: Upload Build
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: mygame-${{ matrix.targetPlatform }}-0.1.0
      #     path: Builds/${{ matrix.targetPlatform }}
      #     retention-days: 1
      - name: Printer
        if: ${{ steps.buildunity.outputs.buildVersion }}
        env:
          RESULT: ${{ steps.buildunity.outputs.buildVersion }}
        run: |
          echo "${RESULT}"
